NEXT_PUBLIC_API_URL=https://your-api-domain.com/api
NEXT_PUBLIC_SITE_URL=https://www.believeinablessed.com
NEXT_PUBLIC_SITE_NAME=BelieveinaBlessed
NEXT_PUBLIC_WHATSAPP=+255747110777
NEXT_PUBLIC_EMAIL=believeinablessed@gmail.com
